<div class="jumbotron">
    <h1>Master Slave</h1>
    <p class="lead">This site is a simple solution to open links in another browser by just sending link to him</p>    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p><ol>
               <li>Open Slave page on browser to be controlled</li>
            <li>Open Master page on controlling browser</li>
            <li>Enter Slave Key in Master Page</li>
            <li>Enter link to Go</li>
            <li>Press the Go button. The page will be sent to slave browser. First time probably you will need to permit this browser to open popup windows from this site.</li>
            </ol>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Scenario 1</h2>
        <p>Configure you Smart TV to load Slave page when opening browser</p>
        <p>And your phone / tablet / PC to open anything on TV without entering it via keyboard</p>
    </div>
    <div class="col-md-4">
        <h2>Scenario 2</h2>
        <p>Send links from PC to phone and back</p>        
    </div>
</div>
