
@{
    ViewBag.Title = "Master";
}

<h2>Master</h2>



@using (Html.BeginForm())
{
    <div>
        <label for="Slave" class="col-lg-4">To Slave:</label>
        <input type="text" name="Slave" id="Slave" class="col-lg-8" />
    </div>

    <div>
        <label for="Url" class="col-lg-2">Url:</label>
        <input type="text" name="Url" id="Url" class="col-lg-10" />
    </div>

    <div>
        <select id="Mode">
            <option value="_blank" selected="selected">New page</option>
            <option value="_self">Replace page</option>
            <option value="iFrame">In Frame</option>
        </select>
    </div>

    <div>
        <input type="button" name="Go" id="Go" value="Go" />

    </div>


    @section scripts
{
        <script type="text/javascript">
            $(document).ready(function() {
                $("#Go").click(function() {
                   slaveCommands.OpenThisUrl($("#Slave").val(), $("#Url").val(), $("#Mode").val());
                });
            });
        </script>
    }
}