
@{
    ViewBag.Title = "Slave";
}

<h2>Slave</h2>

<h4>This page slave code is: <strong>@ViewBag.SlaveCode</strong></h4>

<iframe id="Frame" src="about:blank" class="col-lg-12" style="height: 100%"></iframe>
<a href="about:blank" id="SlaveLink" target="_blank"></a>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $.signalR.masterSlaveHub.on('slaveOpenThisUrl', function (slave, url, mode) {
                console.log('slaveOpenThisUrl', slave, url, mode);
                if (mode != "iFrame") {
                    $("#SlaveLink").attr("target", mode).attr("href", url).text(url);
                    
                    window.open(url, mode);
                    //$("#Frame").
                } else {
                    $("#SlaveLink").attr("target", "_blank").attr("href", url).text(url);
                    $("#Frame").attr("src", url);

                }

                $("#Frame").focus();
            });
        });
    </script>
}